import(Rcpp)
import(ggplot2)
import(pander)
export(BT)
export(CT)
export(CndTD)
export(CpTD)
export(CpTp)
export(CpfT)
export(CpgT)
export(CvTD)
export(CvTp)
export(CvfT)
export(CvgT)
export(DCrit)
export(DTh)
export(DTp)
export(DTpcteTab)
export(DTs)
export(DfT)
export(DfTr)
export(Dfp)
export(Dfs)
export(DgT)
export(DgTr)
export(Dgp)
export(Dgs)
export(Dhs)
export(DpTcteTab)
export(Dph)
export(Dps)
export(FugaTp)
export(GibbsTp)
export(JTcTD)
export(KViscTD)
export(KapaTD)
export(PrandtTD)
export(Rwater)
export(SigmaT)
export(TCrit)
export(TDh)
export(TDp)
export(TDs)
export(TSatD)
export(TSatp)
export(TSats)
export(TTr)
export(ThrcTD)
export(Ths)
export(Tph)
export(Tps)
export(ViscTD)
export(ZTD)
export(dDdTTD)
export(dDdTTp)
export(dpdDTD)
export(dpdDTp)
export(dpdTTD)
export(dpdTTp)
export(fTD)
export(fTp)
export(hCrit)
export(hTD)
export(hTp)
export(hTpcteTab)
export(hfT)
export(hgT)
export(hpTcteTab)
export(hps)
export(pCrit)
export(pMeltT)
export(pSatD)
export(pSatT)
export(pSats)
export(pTD)
export(pTr)
export(phi0)
export(phi0D)
export(phi0DD)
export(phi0DT)
export(phi0T)
export(phi0TT)
export(phir)
export(phirD)
export(phirDD)
export(phirDT)
export(phirT)
export(phirTT)
export(sCrit)
export(sTD)
export(sTp)
export(sTpcteTab)
export(satTabT)
export(satTabTp)
export(satTabhT)
export(satTabp)
export(satTabpT)
export(satTabvT)
export(satTabvp)
export(sfT)
export(sfTr)
export(sgT)
export(sgTr)
export(spTcteTab)
export(sph)
export(uTD)
export(uTp)
export(ufT)
export(ugT)
export(vTp)
export(wTD)
export(wTp)
export(wfT)
export(wgT)
useDynLib(IAPWS95, .registration = TRUE, .fixes = 'F_')
